<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>个人资料</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/swiper.min.css">
	</head>

	<body>
		<section class="head">
			<h1>个人资料</h1>
			<a class="more" href="javascript:void(0);"><i class="iconfont icon-fenxiang"></i></a>
		</section>

		<section>
			<div class="item mt12 mb12">
				<a href="" class="user-info clearfix">
					<div class="pull-left left">头像</div>
					<div class="pull-right right">
						<img src="images/brand.jpg" alt="" />
						<i class="iconfont icon-youjianhao"></i>
					</div>
				</a>
			</div>
			<div class="info-item">
				<a href="" class="info-list clearfix">
					<div class="pull-left">修改密码</div>
					<div class="pull-right">更改<i class="iconfont icon-youjianhao"></i></div>
				</a>
				<a href="" class="info-list clearfix">
					<div class="pull-left">已绑定手机</div>
					<div class="pull-right">1333333333<i class="iconfont icon-youjianhao"></i></div>
				</a>
			</div>

		</section>
		<script src="js/jquery-1.10.2.min.js"></script>
		<script src="js/swiper.min.js"></script>
		<script src="js/common.js"></script>

	</body>

</html>