<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>支付页面</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/swiper.min.css">
	</head>

	<body>
		<section class="head">
			<h1>支付页面</h1>
			<a class="more" href="javascript:void(0);"><i class="iconfont icon-fenxiang"></i></a>
		</section>
		<section class="mt12 mb12">
			<div class="item  pb0 pt0 box-shadow">
					<div class="order-list clearfix">
						<div class="pull-left">订单编号</div>
						<div class="pull-right">123213213adssad</div>
					</div>
					<div class="order-list clearfix">
						<div class="pull-left">支付金额</div>
						<div class="pull-right">￥299.00</div>
					</div>
			</div>

		</section>
		
		<section>
			<div class="item p0 box-shadow">
				<div  class="zhifu clearfix"><a href=""><div class="caption icon-box"><i class="iconfont icon-weixinzhifu icon"></i>微信支付</div><i class=" iconfont icon-youjianhao pull-right"></i></a></div>				
				<div  class="zhifu clearfix"><a href=""><div class="caption icon-box"><i class="iconfont icon-zhifubao icon"></i>支付宝</div><i class=" iconfont icon-youjianhao pull-right"></i></a></div>		
			</div>

		</section>
		<script src="js/jquery-1.10.2.min.js"></script>
		<script src="js/swiper.min.js"></script>
		<script src="js/common.js"></script>

	</body>

</html>