<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>微商城</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/swiper.min.css">
</head>
<body>
	<section class="head">
		<h1>收货地址管理</h1>
		<a class="more" href="javascript:void(0);"><i class="iconfont icon-fenxiang"></i></a>
	</section>
	<section class="collection-box">
		<div class="collection clearfix box-shadow">
			<div class="view-box" data-key="edit">
				<div class="icon"><i class=""></i></div>
				<div class="add-info">
					<div class="clearfix"><strong>张XX</strong><span class="pull-right">18959263912 </span></div>
					<p class="text-ell2">福建省厦门市观音山天瑞99大厦4楼258集团研发部</p>
				</div>
			</div>
			<div class="btns-box">
				<div class="btns">
					<a href="javascript:void(0);">删除</a>
				</div>
				<div class="edit">
					<a href="javascript:void(0);">编辑</a>
				</div>
			</div>
		</div>
		<div class="collection clearfix box-shadow">
			<div class="view-box" data-key="edit">
				<div class="icon"><i class=""></i></div>
				<div class="add-info">
					<div class="clearfix"><strong>张XX</strong><span class="pull-right">18959263912 </span></div>
					<p class="text-ell2">福建省厦门市观音山天瑞99大厦4楼258集团研发部</p>
				</div>
			</div>
			<div class="btns-box">
				<div class="btns">
					<a href="javascript:void(0);">删除</a>
				</div>
				<div class="edit">
					<a href="javascript:void(0);">编辑</a>
				</div>
			</div>
		</div>
		<div class="collection clearfix box-shadow">
			<div class="view-box" data-key="edit">
				<div class="icon"><i class=""></i></div>
				<div class="add-info">
					<div class="clearfix"><strong>张XX</strong><span class="pull-right">18959263912 </span></div>
					<p class="text-ell2">福建省厦门市观音山天瑞99大厦4楼258集团研发部</p>
				</div>
			</div>
			<div class="btns-box">
				<div class="btns">
					<a href="javascript:void(0);">删除</a>
				</div>
				<div class="edit">
					<a href="javascript:void(0);">编辑</a>
				</div>
			</div>
		</div>
	</section>
	<section class="footr-nav">
		<div>
			<a href="javascript:void(0);">
				<i class="iconfont icon-shouye"></i>
				<span>首页</span>
			</a>
			<a href="javascript:void(0);">
				<i class="iconfont icon-fenlei"></i>
				<span>分类</span>
			</a>
			<a href="javascript:void(0);">
				<i class="iconfont icon-gouwuche"></i>
				<span>购物车</span>
			</a>
			<a class="active" href="javascript:void(0);">
				<i class="iconfont icon-gerenzhongxin"></i>
				<span>个人中心</span>
			</a>
		</div>
	</section>
	<section class="mask" onclick="code.close(this);">
		<div class="delete-box">
			<p>确定要删除这些商品？</p>
			<div>
				<a href="javascript:void(0);">确定</a><a href="javascript:void(0);" onclick="code.close(this);">取消</a>
			</div>
		</div>
	</section>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>