<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>微商城</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/swiper.min.css">
</head>
<body>
	<section class="head">
		<h1>个人资料</h1>
		<a class="more" href="javascript:void(0);"><i class="iconfont icon-fenxiang"></i></a>
	</section>
	<section class="vip-box mb60">
		<div class="imgs box-shadow">
			<a href="javascript:void(0);">
				<span>
					<img src="images/id.png" alt="用户头像" title="用户头像">
				</span>
				<strong>中华一条龙</strong>
			</a>
		</div>
		<div class="status white  mrl12 mb12 radius8 box-shadow">
			<div class="show choice-box">
				<a href="javascript:void(0);"><strong>我的订单</strong><i class="iconfont icon-youjianhao pull-right"></i><span class="pull-right">查看全部订单</span></a>
			</div>
			<div class="dis-flex">
				<div class="flex1">
					<a href="javascript:void(0);"><i class="iconfont icon-daifukuan1"></i><span>待付款</span></a>
				</div>
				<div class="flex1">
					<a href="javascript:void(0);"><i class="iconfont icon-daifukuan"></i><span>待发货</span></a>
				</div>
				<div class="flex1">
					<a href="javascript:void(0);"><i class="iconfont icon-daishouhuo"></i><span>待收货</span></a>
				</div>
				<div class="flex1">
					<a href="javascript:void(0);"><i class="iconfont icon-daituikuan"></i><span>待退款</span></a>
				</div>
			</div>
		</div>
		<div class="common box-shadow">
			<div class="show choice-box choice-block">
				<a href="javascript:void(0);"><i class="iconfont icon-gouwuche"></i><span>购物车</span><i class="iconfont icon-youjianhao pull-right"></i></a>
			</div>
			<div class="show choice-box choice-block">
				<a href="javascript:void(0);"><i class="iconfont icon-shoucangkongxin"></i><span>我的收藏</span><i class="iconfont icon-youjianhao pull-right"></i></a>
			</div>
			<div class="show choice-box choice-block">
				<a href="javascript:void(0);"><i class="iconfont icon-shouhuodizhi"></i><span>收货地址</span><i class="iconfont icon-youjianhao pull-right"></i></a>
			</div>
			<div class="show choice-box choice-block">
				<a href="javascript:void(0);"><i class="iconfont icon-fenxiao"></i><span>分销中心</span><i class="iconfont icon-youjianhao pull-right"></i></a>
			</div>
		</div>
	</section>
	<section class="footr-nav">
		<div>
			<a href="javascript:void(0);">
				<i class="iconfont icon-shouye"></i>
				<span>首页</span>
			</a>
			<a href="javascript:void(0);">
				<i class="iconfont icon-fenlei"></i>
				<span>分类</span>
			</a>
			<a href="javascript:void(0);">
				<i class="iconfont icon-gouwuche"></i>
				<span>购物车</span>
			</a>
			<a class="active" href="javascript:void(0);">
				<i class="iconfont icon-gerenzhongxin"></i>
				<span>个人中心</span>
			</a>
		</div>
	</section>

	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>