<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>订单详情</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href={% static "css/reset-u.css" %}>
	<link rel="stylesheet" href={% static "css/standby.css" %}>
	<link rel="stylesheet" href={% static "css/swiper.min.css" %}>
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
    <link rel="stylesheet" href={% static "css/bootstrap-theme.css" %}>
    <link rel="stylesheet" href={% static "css/Nchu-UTP.css" %}>
	
</head>
<body>
	<section class="head">
		<h1>订单详情</h1>
		<a class="more" href="javascript:void(0);"><i class="iconfont icon-fenxiang"></i></a>
	</section>
	<section class="h1 overY-auto">
	<div class="item mt12 mb12" style="background: #d11a1a;">
		<div class='wait-pay clearfix'>
			<div class="pull-left icon-box"><i class="iconfont icon-qianbao"></i></div>
			<div class="pull-right align-right font-box">
				<p>等待支付</p>
				<p>订单金额（含运费）：¥85.00</p>
			</div>
		</div>
	</div>

	<div class="item mb12 box-shadow">
		<!--假如没有数据-->
		<!--<div  class="clearfix"><div class="caption">收获地址</div><i class=" pull-right iconfont icon-youjianhao icon"></i></div>-->
		<!--假如有数据-->
		<div >
			<div class="caption ">
				<div class="clearfix pb12"><h5 class="pull-left">收件人：哄哄</h5><span class="pull-right">13333333333</span></div>
				<div class="address">收获地址：福建省厦门市观音山天瑞99大厦258集团4楼研发部</div>
			</div>
			<span  class="right-icon"><i class="iconfont icon-youjianhao icon"></i></span>
		</div>
	</div>
	<div class="item mb12 box-shadow">
		<div class="product-box">
			<div class="title pb12">购物清单</div>
			<div class="product-list clearfix">
				<div class="img-product"><img src='images/pro1_4.png'></div>
				<div class="font-box">
					<h3>无印良品亚麻布料抱枕三色可选蓝白纹黄白条纹灰白条纹商品型商品名称</h3>
					<div class="btn-box">
						<span class="font-red">￥299</span>
						<div class="btn pull-right">
							<!--<span class="btn-circular less"><i >-</i></span>
							<span class="num">1</span>
							<span class="btn-circular add"><i >+</i></span>-->
							<span class="font-hui"> x999</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="item mb12 box-shadow">
		<div class="cost">
			<div class="list clearfix"><span class="pull-left">订单编号</span><span class="pull-right">￥299.00</span></div>
			<div class="list clearfix"><span class="pull-left">商品小计</span><span class="pull-right">￥0.00</span></div>
			<div class="list clearfix"><span class="pull-left">运费</span><span class="pull-right">￥0.00</span></div>
			<div class="list clearfix"><span class="pull-left">实付费（含运费）：</span><span class="pull-right">¥85.00</span></div>
			<div class="list clearfix"><span class="pull-left">下单时间：</span><span class="pull-right">2017-8-30  17:49:50</span></div>			
		</div>
	</div>
	</section>
	<section>
		<div class="order-foot">
			<div class="pl-r12 clearfix">
			<div class="pull-right">
				<a href="" class="btn-order cancel ml10">取消订单</a>
				<a href="" class="btn-order submit ml10">付款</a>
			</div>
			</div>
		</div>
	</section>
	<script src={% static "js/jquery-1.10.2.min.js" %}></script>
	<script src={% static "js/swiper.min.js" %}></script>
	<script src={% static "js/common.js" %}></script>
	<script type="text/javascript">
				$(function(){
					setHight('order')
				})
	</script>
</body>
</html>