<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>微商城</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/swiper.min.css">
</head>
<body>
	<section class="head">
		<h1>购物车</h1>
		<a class="more" href="javascript:void(0);"><i class="iconfont icon-fenxiang"></i></a>
	</section>
	<section class="delete-box">
		<div class="delete clearfix box-shadow">
			<i class="box" data-all="ok"></i>
			<strong>我的收藏</strong>
			<a class="pull-right" href="javascript:void(0);" onclick="code.open(this);"><i class="iconfont icon-shanchu"></i>删除</a>
		</div>
	</section>
	<section class="collection-box">
		<div class="collection clearfix box-shadow">
			<div class="view-box" data-key="no">
				<div class="icon"><i class=""></i></div>
				<div class="imgs"><img src="images/f_show.jpg" alt="收藏展示" title="收藏展示"></div>
				<div class="text">
					<p class="text-ell2">无印良品亚麻布料抱枕三色可选蓝白纹黄白条纹灰白条纹商品...</p>
					<div class="main-number dis-flex" >
						<div class="flex1">
							<strong>¥299</strong>
						</div>
						<div  data-show="number">
							<i>-</i>
							<input type="text" value="1" data-money="299" readonly>
							<i data-number="up">+</i>
						</div>
					</div>
				</div>
			</div>
			<div class="btns-box">
				<div class="btns">
					<a href="javascript:void(0);">删除</a>
				</div>
			</div>
		</div>
		<div class="collection clearfix box-shadow">
			<div class="view-box" data-key="no">
				<div class="icon"><i class=""></i></div>
				<div class="imgs"><img src="images/f_show.jpg" alt="收藏展示" title="收藏展示"></div>
				<div class="text">
					<p class="text-ell2">无印良品亚麻布料抱枕三色可选蓝白纹黄白条纹灰白条纹商品...</p>
					<div class="main-number dis-flex">
						<div class="flex1">
							<strong>¥299</strong>
						</div>
						<div data-show="number">
							<i>-</i>
							<input type="text" value="1" data-money="299" readonly>
							<i data-number="up">+</i>
						</div>
					</div>	
				</div>
			</div>
			<div class="btns-box">
				<div class="btns">
					<a href="javascript:void(0);">删除</a>
				</div>
			</div>
		</div>
		<div class="collection clearfix box-shadow">
			<div class="view-box" data-key="no">
				<div class="icon"><i class=""></i></div>
				<div class="imgs"><img src="images/f_show.jpg" alt="收藏展示" title="收藏展示"></div>
				<div class="text">
					<p class="text-ell2">无印良品亚麻布料抱枕三色可选蓝白纹黄白条纹灰白条纹商品...</p>
					<div class="main-number dis-flex">
						<div class="flex1">
							<strong>¥299</strong>
						</div>
						<div data-show="number">
							<i>-</i>
							<input type="text" value="1" data-money="299" readonly>
							<i data-number="up">+</i>
						</div>
					</div>	
				</div>
			</div>
			<div class="btns-box">
				<div class="btns">
					<a href="javascript:void(0);">删除</a>
				</div>
			</div>
		</div>
	</section>
	<section class="pro-info">
		<div>
		<span>总计：<em id="all_money">¥1000.00</em>（共<span id="all_number">1000</span>件，不含运费）</span>	
		<a href="javascript:void(0);">结算</a>
		</div>
	</section>
	<section class="footr-nav">
		<div>
			<a href="javascript:void(0);">
				<i class="iconfont icon-shouye"></i>
				<span>首页</span>
			</a>
			<a href="javascript:void(0);">
				<i class="iconfont icon-fenlei"></i>
				<span>分类</span>
			</a>
			<a class="active" href="javascript:void(0);">
				<i class="iconfont icon-gouwuche"></i>
				<span>购物车</span>
			</a>
			<a href="javascript:void(0);">
				<i class="iconfont icon-gerenzhongxin"></i>
				<span>个人中心</span>
			</a>
		</div>
	</section>
	<section class="mask" onclick="code.close(this);">
		<div class="delete-box">
			<p>确定要删除这些商品？</p>
			<div>
				<a href="javascript:void(0);">确定</a><a href="javascript:void(0);" onclick="code.close(this);">取消</a>
			</div>
		</div>
	</section>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>