<!DOCTYPE html>
<html lang="ZH-CN">
<head>
    {% load static %}
    <title>分类</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visual Box V2 Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" type="text/css" media="all" href={% static "css/class/bootstrap.css" %} />
    <!--// bootstrap-css -->
    <!-- css -->
    <link type="text/css" media="all" rel="stylesheet" href={% static "css/class/style.css" %} />
    <!--// css -->
    <script src={% static "js/jquery-1.11.0.min.js"%}></script>
    <link rel="stylesheet" type="text/css" href={% static "css/navigation.css" %}>
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
    <link rel="stylesheet" href={% static "css/bootstrap-theme.css" %}>
    <link rel="stylesheet" href={% static "css/Nchu-UTP.css" %}>
    <style>
        body{
            background-color: #ecdbcf;
        }
        .top-all{
            margin-top: 25%;
        }
        .classify{
            width: 15%;
            float: right;
            margin-right: 3%;
            margin-top: 5%;
            margin-bottom: 4%;
        }
        .swipebox{
            border-radius: 1rem;

        }
        #portfoliolist{
            margin: 1rem 1rem 1rem 1rem;
        }
    </style>
</head>
<body>
<div class="container-fluid body-all">
    <div class="top-div">

        <!--表单-->
        <label class="container">
            <!--<img src="image/search.png" class="search-img" alt="">-->

            <!--昌航有物logo-->
            <a href="#">
                <img class="logo" alt="" src={% static "image/logo.png" %}  >
            </a>

            <a href="#">
                <img class="classify" alt="" src={% static "image/classify.png" %}  >
            </a>

            <!--搜索框-->
            <input type="text" class="form-control search" placeholder="搜索商品，千款好物等你来搜">

        </label>
    </div>
</div>
<div id="portfolio" class="portfolio top-all">
	<!-- Portfolio Starts Here -->
	<div class="portfolios entertain_box  wow fadeInUp" data-wow-delay="0.4s" id="project">
        <div id="portfoliolist">
            {% comment %}居家用品{% endcomment %}
            <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a class="b-link-stripe b-animate-go   swipebox" title="" href={{ 'goods/classify/jjyp/' }} >
                    <img alt="" class="img-responsive" src="{% static 'image/class/jjyp.png' %}"  />
                     <div class="b-wrapper">
                        <div class="b-animate b-from-left    b-delay03 ">
                            <h2>居家用品</h2>
                            <p>昌航有物，看闲置 居家用品！</p>
                            <img class="zoom" alt="" class="img-responsive" src={% static 'image/class/plus.png' %} />
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            {% comment %}运动健身{% endcomment %}
            <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
                <a class="portfolio-wrapper">
                    <a class="b-link-stripe b-animate-go swipebox" title="" href={{ 'goods/classify/ydjs' }} >
                        <img   alt="" class="img-responsive" src={% static 'image/class/ydjs.png' %} />
                        <div class="b-wrapper">
                            <div class="b-animate b-from-left    b-delay03 ">
                                <h2>运动健身</h2>
                                <p>坚实耐用，运动用具、健身器材</p>
                                <img class="zoom" alt="" class="img-responsive" src={% static 'image/class/plus.png' %} />
                            </div>
                        </div>
                    </a>
                </a>
            </div>
            {% comment %}彩妆香水{% endcomment %}
            <div class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a  class="b-link-stripe b-animate-go   swipebox" title="" href={{ 'goods/classify/czxs' }}>
                    <img  alt="" class="img-responsive" src={% static 'image/class/czxs.png' %} />
                        <div class="b-wrapper">
                            <div class="b-animate b-from-left    b-delay03 ">
                                <h2>彩妆香水</h2>
                                <p>高端大气，彩妆香水 化妆品！</p>
                                <img class="zoom" alt="" class="img-responsive" src={% static 'image/class/plus.png' %} />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %}手机数码{% endcomment %}
            <div class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a  class="b-link-stripe b-animate-go  swipebox" title="" href={{ 'goods/classify/sjsm' }}>
                    <img   alt="" class="img-responsive" src={% static 'image/class/sjsm.png' %} />
                    <div class="b-wrapper">
                        <div class="b-animate b-from-left    b-delay03 ">
                            <h2>手机数码</h2>
                            <p>低价实惠，数码产品</p>
                            <img class="zoom img-responsive"  alt="" src={% static 'image/class/plus.png' %} />
                        </div>

                    </div>
                    </a>
                </div>
            </div>
            {% comment %}桌椅用具{% endcomment %}
            <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a  class="b-link-stripe b-animate-go  swipebox" title="" href={{ 'goods/classify/zyyj' }} >
                    <img class="img-responsive" alt="" src={% static 'image/class/zyyj.png' %} />
                        <div class="b-wrapper">
                            <div class="b-animate b-from-left    b-delay03 ">
                                <h2>桌椅用具</h2>
                                <p>牢固可靠，闲置的桌子 椅子</p>
                                <img class="img-responsive zoom" alt="" src={% static 'image/class/plus.png' %} />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %}珠宝配饰{% endcomment %}
            <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a  class="b-link-stripe b-animate-go   swipebox" title="" href={{ 'goods/classify/zbps' }}>
                        <img   alt="" class="img-responsive" src={% static 'image/class/zbps.png' %} />
                        <div class="b-wrapper">
                            <div class="b-animate b-from-left    b-delay03 ">
                                <h2>珠宝配饰</h2>
                                <p>bing bing！如新闪亮的耳钉 项链</p>
                                <img  class="zoom" alt="" class="img-responsive" src={% static 'image/class/plus.png' %} />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %}男款鞋子{% endcomment %}
            <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a class="b-link-stripe b-animate-go  swipebox" title="" href={{ 'goods/classify/nx' }} >
                    <img  alt="" class="img-responsive" src={% static 'image/class/nx.png' %} />
                    <div class="b-wrapper">
                        <div class="b-animate b-from-left    b-delay03 ">
                            <h2>男款鞋子</h2>
                            <p>Nike？Adidas？Vans？全都有！</p>
                            <img  class="zoom" alt="" class="img-responsive" src={% static 'image/class/plus.png' %} />
                        </div>

                    </div></a>
                </div>
            </div>
            {% comment %}女款鞋子{% endcomment %}
            <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a  class="b-link-stripe b-animate-go   swipebox" title="" href={{ 'goods/classify/vx' }}>
                    <img  alt="" class="img-responsive" src={% static 'image/class/vx.png' %}  />
                        <div class="b-wrapper">
                            <div class="b-animate b-from-left    b-delay03 ">
                                <h2>女款鞋子</h2>
                                <p>高跟鞋？板鞋？皮鞋？全都有！</p>
                                <img class="zoom" alt="" class="img-responsive" src={% static 'image/class/plus.png' %} />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %}男款服装{% endcomment %}
            <div class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a class="b-link-stripe b-animate-go   swipebox" title="" href={{ 'goods/classify/nz' }}>
                    <img alt="" class="img-responsive" src={% static 'image/class/nz.png' %}  />
                        <div class="b-wrapper">
                            <div class="b-animate b-from-left    b-delay03 ">
                                <h2>男款服装</h2>
                                <p>昌航有物，引领昌航潮流</p>
                                <img class="zoom" alt="" class="img-responsive" src={% static 'image/class/plus.png' %} />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %}女款服装{% endcomment %}
            <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a class="b-link-stripe b-animate-go  swipebox" title="" href={{ 'goods/classify/vz' }}>
                        <img alt="" class="img-responsive" src={% static 'image/class/vz.png' %} />
                        <div class="b-wrapper">
                            <div class="b-animate b-from-left    b-delay03 ">
                                <h2>女款服装</h2>
                                <p>昌航有物，引领昌航潮流</p>
                                <img class="zoom" alt="" class="img-responsive" src={% static 'image/class/plus.png' %} />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %}背包箱子{% endcomment %}
            <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a class="b-link-stripe b-animate-go  swipebox" title="" href={{ 'goods/classify/bbxz' }}>
                    <img alt="" class="img-responsive" src={% static 'image/class/bbxz.png' %} />
                        <div class="b-wrapper">
                            <div class="b-animate b-from-left    b-delay03 ">
                                <h2>背包箱子</h2>
                                <p>久经考验，收纳箱、旅行箱及书包</p>
                                <img class="zoom" alt="" class="img-responsive" src={% static 'image/class/plus.png' %} />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% comment %}个护清洁{% endcomment %}
            <div class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a class="b-link-stripe b-animate-go   swipebox" title="" href={{ 'goods/classify/ghqj' }}>
                    <img alt="" class="img-responsive" src={% static 'image/class/ghqj.png' %} />
                    <div class="b-wrapper">

                    <div class="b-animate b-from-left    b-delay03 ">
                        <h2>个护清洁</h2>
                        <p>洗澡？先洗头还是先刷牙？</p>
                        <img class="zoom" alt="" class="img-responsive" src={% static 'image/class/plus.png' %} />
                    </div>

                    </div></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
		
	</div>
			<link rel="stylesheet" href={% static "css/class/swipebox.css" %}>

				<!-- Portfolio Ends Here -->
    <br><br>
</div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navigation-div">
            <a href="{% url 'main:home' %}"><img alt="" class="navigation navi1" src={% static "image/nav-home.png" %}></a>
            <a href="#"><img alt="" class="navigation navi2" src={% static "image/nav-menu.png" %}></a>
            <a href="{% url 'main:cart' %}"><img alt="" class="navigation navi4" src={% static "image/nav-cart.png" %}></a>
            <a href="{% url 'main:mine' %}"><img alt="" class="navigation navi3" src={% static "image/nav-people.png" %}></a>
        </div>
    </nav>
</body>
</html>
